apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jira.fullname" . }}
  labels:
    {{- include "jira.labels" . | nindent 4 }}
data:
  teleport-jira.toml: |
    [teleport]
    addr = "{{ .Values.teleport.address }}"
    identity = "/var/lib/teleport/plugins/jira/auth_id"

    [jira]
    url = "{{ .Values.jira.url }}"
    username = "{{ .Values.jira.username }}"
    api_token = "{{ .Values.jira.apiToken }}"
    project = "{{ .Values.jira.project }}"
    {{- if .Values.jira.issueType }}
    issue_type = "{{ .Values.jira.issueType }}"
    {{- end }}

    [http]
    listen_addr = "{{ .Values.http.listenAddress }}"
    public_addr = "{{ .Values.http.publicAddress }}"
    {{- if .Values.http.keyFile }}
    https_key_file = "{{ .Values.http.keyFile }}"
    https_cert_file = "{{ .Values.http.certFile }}"
    {{- end }}

    {{ if .Values.http.basicAuth.enabled }}
    [http.basic_auth]
    user = {{ .Values.http.basicAuth.user }}
    password = {{ .Values.http.basicAuth.password }}
    {{ end }}

    [https.tls]
    verify_client_cert = {{ .Values.http.verifyClientCert }}

    [log]
    output = "{{ .Values.log.output }}"
    severity = "{{ .Values.log.severity }}"
