name: Plugins Lint (Go)
run-name: Plugins Lint (Go) - ${{ github.run_id }} - @${{ github.actor }}
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Plugins Lint (Go)
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout Teleport Plugins
        uses: actions/checkout@v3

      - name: Setup Go 1.20.8
        uses: actions/setup-go@v3
        with:
          go-version: '1.20.8'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54.2

      - name: Run linter
        run: make lint
