name: Plugins Tests (Terraform)
run-name: Plugins Tests (Terraform) - ${{ github.run_id }} - @${{ github.actor }}

on:
  push:
    branches:
      - master
  pull_request:

env:
  TELEPORT_ENTERPRISE_LICENSE: ${{ secrets.TELEPORT_ENTERPRISE_LICENSE }}

jobs:
  test:
    name: Plugins Tests (Terraform)
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout Teleport Plugins
        uses: actions/checkout@v3

      - name: Setup Go 1.20.8
        uses: actions/setup-go@v3
        with:
          go-version: '1.20.8'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.5.6'
          terraform_wrapper: false

      - name: Install Teleport
        uses: teleport-actions/setup@v1
        with:
          version: 13.3.8
          enterprise: true

      - name: make test-terraform
        run: make test-terraform
