name: Plugins Tests (Go)
run-name: Plugins Tests (Go) - ${{ github.run_id }} - @${{ github.actor }}

on:
  push:
    branches:
      - master
  pull_request:

env:
  TELEPORT_ENTERPRISE_LICENSE: ${{ secrets.TELEPORT_ENTERPRISE_LICENSE }}

jobs:
# This test exists to ensure that we don't break compatibility of the event handler
# when we merge the unstructured events support.
# This is a temporary test and should be removed in Teleport 14.
# Since unstructured events API was intoduced in 13.1.0, this test fallbacks to
# the old SearchEvents and StreamSessionIDEvents API and should be able to complete
# without errors.
# DELETE IN 14.0.0
  test-structured:
    name: Plugins Tests (Go)
    runs-on: ubuntu-22.04-16core

    permissions:
      contents: read

    steps:
      - name: Checkout Teleport Plugins
        uses: actions/checkout@v3

      - name: Setup Go 1.20.8
        uses: actions/setup-go@v3
        with:
          go-version: '1.20.8'

      - name: Install Teleport
        uses: teleport-actions/setup@v1
        with:
          version: 13.3.8
          enterprise: true

      - name: Run unit tests
        run: make test-unit

# This test uses the new auditlog service that supports unstructured events.
  test-unstructured:
    name: Plugins Tests (Go)
    runs-on: ubuntu-22.04-16core

    permissions:
      contents: read

    steps:
      - name: Checkout Teleport Plugins
        uses: actions/checkout@v3

      - name: Setup Go 1.20.8
        uses: actions/setup-go@v3
        with:
          go-version: '1.20.8'

      - name: Install Teleport
        uses: teleport-actions/setup@v1
        with:
          version: 13.3.8
          enterprise: true

      - name: Run unit tests
        run: make test-unit
